.idea
.github
.gradle
*gradle*
**/src
**/build.gradle.kts
**/build/kotlin/**
**/build/tmp/**
**/build/processedResources/**
**/build/generated/**
**/build/libs/**
**/build/reports/**
**/build/js/**
**/build/classes/**
